*.bin
*-bin
*.cmi
*.cmx
*.la
*.lo
*.o
scilab.pc
/*.properties
/etc/*.properties
.atoms/
.deps/
.dirstamp
.libs/
blocks.h
build/
classpath.xml
config.log
config.status
/etc/Info.plist
/modules/intersci/intersci
jar/
lexer.ml
lib
!/lib
!/modules/intersci/src/lib
!/modules/mexlib/examples/interface/lib
!/thirdparty/docbook/epub/bin/lib
!/thirdparty/docbook/lib
!/usr/lib
libtool
linenum.ml
/locale/
machine.h
Makefile
Makefile.orig
!/modules/functions/scripts/buildmacros/Makefile
!/modules/intersci/examples/Makefile
!/modules/javasci/examples/v2/Makefile
!/thirdparty/docbook/Makefile
modelicac
modelicat
models
modules.xml
names
parser.ml
repositories
repositories.orig
SciDocConf.xml
scilab-log-*.txt
stack.h
!/usr/include/openssl/stack.h
stamp-h1
/tags
version.h
XML2Modelica
